body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: lightblue;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #4550b8;
  border-left: 1px solid white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid white;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: white;
  border-top: 1px dashed white;
}

.past {
  background-color: #e6dddd;
  color: white;
}

.present {
  background-color: #77dd77;
  color: white;
}

.future {
  background-color: #e9901b;
  color: white;
}

.save {
  border-left: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.save i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Custom styles */

/* Header color */
.display-3, .lead {
  color: #746cda;
}

.display-3 {
  font-weight:bolder;
}

/* Hours */
div .hour {
  color: #746cda;
  background-color: #83c7d6;
  font-weight: bold;
}
